#ha-home {
    background-color: #3498db;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#ha-home-navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;

    background-color: #34495e;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 1rem;

    font-family: 'Quicksand-Bold';
    color: #FFFFFF;
}
    #ha-home-navbar .ha-home-navbar-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    #ha-home-navbar .ha-home-navbar-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #ha-home-navbar .ha-home-navbar-right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

#ha-home-content {
    position: fixed;
    left: 0;
    top: 48px;
    width: 100%;
    height: 100%;

    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Quicksand-Medium';
    color: #222f3e;
}

.ha-profile {
    position: relative;

    padding: 2rem 3rem;
    margin: 2rem 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 8px 8px 12px 4px rgba(0, 0, 0, 0.2);
}

.ha-profile-avatar {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;
}
    .ha-profile-avatar-camera-btn {
        position: absolute;
        bottom: 16px;
        right: 8px;
    }
    .ha-profile-avatar-camera-btn > button {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 0;
    }

.ha-profile-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
}
    .ha-profile-details-username {
        font-family: 'Quicksand-Bold';
        color: #2e86de;
    }

    .ha-profile-details input[type=text],
    .ha-profile-details input[type=date] {
        display: inline-block;
        background-color: #FFFFFF;
        padding: 12px 23px;
        margin: 0 0 24px 0;
        width: 100%;
        border: 2px solid #f2f2f2;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        text-align: left;
        text-decoration: none;
        font-family: 'Quicksand-Medium';
        font-size: 1rem;
        /* font-weight: bold; */
        color: #3a3a3a;
        
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }
        .ha-profile-details input[type=text]:disabled,
        .ha-profile-details input[type=date]:disabled {
            background-color: #f2f2f2;
        }
        .ha-profile-details input[type=text]:focus,
        .ha-profile-details input[type=date]:focus {
            background-color: #fff;
            border: 2px solid #5fbae9;
        }
        .ha-profile-details input[type=text]:hover,
        .ha-profile-details input[type=date]:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
        .ha-profile-details input[type=text]::placeholder,
        .ha-profile-details input[type=date]::placeholder {
            color: #3a3a3a;
        }
        .ha-profile-details input[type=text].ha-profile-details-error {
            border: 2px solid red;
        }
        .ha-profile-details input[type=date].ha-profile-details-error {
            border: 2px solid red;
        }
    
    .ha-profile-details textarea {
        display: inline-block;
        background-color: #f2f2f2;
        padding: 8px 16px;
        margin: 0 0 12px 0;
        width: 100%;
        border: 2px solid #f2f2f2;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        text-align: left;
        text-decoration: none;
        font-family: 'Quicksand-Bold';
        font-size: 1rem;
        font-weight: bold;
        color: #3a3a3a;
    }
        .ha-profile-details textarea:focus {
            background-color: #fff;
            border: 2px solid #5fbae9;
        }
        .ha-profile-details textarea:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
        .ha-profile-details textarea::placeholder {
            color: #3a3a3a;
        }
        .ha-profile-details textarea.ha-profile-details-error {
            border: 2px solid red;
        }

#ha-home input[type=submit] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 0 20px 0 rgba(95, 186, 233, 0.4);
    -webkit-box-shadow: 0 0 20px 0 rgba(95, 186, 233, 0.4);
    -moz-box-shadow: 0 0 20px 0 rgba(95, 186, 233, 0.4);
    -ms-box-shadow: 0 0 20px 0 rgba(95, 186, 233, 0.4);
    -o-box-shadow: 0 0 20px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    // margin: 0;

    font-family: 'Quicksand-Bold';

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
} 
    #ha-home input[type=submit]:hover {
            background-color: #39ace7;
        }
        #ha-home input[type=submit]:active {
            -moz-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -o-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }
        #ha-home input[type=submit].ha-home-cancel-btn {
        background-color: #ed5656;
        box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
        -webkit-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
        -moz-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
        -ms-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
        -o-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
    } 
        #ha-home input[type=submit]:hover.ha-home-cancel-btn {
            background-color: #df4747; 
            box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
            -webkit-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
            -moz-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
            -ms-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
            -o-box-shadow: 0 0 20px 0 rgba(233, 95, 95, 0.4);
        }

.ha-home-loader-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($color: #FFFFFF, $alpha: 0.75);
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}