.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    /* margin: 0; */
}
.spinner-sm {
    width: 30px;
    height: 30px;
    position: relative;
    /* margin: 0; */
}
.spinner-md {
    width: 80px;
    height: 80px;
    position: relative;
    /* margin: 0; */
}
.spinner-lg {
    width: 120px;
    height: 120px;
    position: relative;
    /* margin: 0; */
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(255, 0, 255);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.spinner-primary > .double-bounce1{
    background-color: #5f27cd;
}
.spinner-primary > .double-bounce2{
    background-color: #5f27cd;
}
.spinner-info > .double-bounce1{
    background-color: rgb(0, 140, 255);
}
.spinner-info > .double-bounce2{
    background-color: rgb(0, 140, 255);
}
.spinner-secondary > .double-bounce1{
    background-color: rgb(139, 139, 139);
}
.spinner-secondary > .double-bounce2{
    background-color: rgb(139, 139, 139);
}
.spinner-warning > .double-bounce1{
    background-color: rgb(255, 251, 0);
}
.spinner-warning > .double-bounce2{
    background-color: rgb(255, 251, 0);
}
.spinner-danger > .double-bounce1{
    background-color: rgb(255, 0, 0);
}
.spinner-danger > .double-bounce2{
    background-color: rgb(255, 0, 0);
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}