@import url('https://fonts.googleapis.com/css?family=Poppins');

#ha-login {
    font-family: "Poppins", sans-serif;
    color: #3a3a3a;
    height: 100vh;
    background-color: #56baed;
}
    #ha-login a {
        color: #92badd;
        display: inline-block;
        text-decoration: none !important;
        font-weight: 400;
    }
    #ha-login h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin: 40px 8px 10px 8px;
        color: #cccccc;
    }
        #ha-login h2.inactive {
            color: #cccccc;
        }
        #ha-login h2.active {
            color: #3a3a3a;
            border-bottom: 2px solid #5fbae9;
        }


/* STRUCTURE */
.ha-login-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    
}

#form-content {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: white;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}
#form-footer {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 12px 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ha-login-icon {
    color: #56baed;
}

/* FORM TYPOGRAPHY*/

#ha-login input[type=button], 
#ha-login input[type=submit], 
#ha-login input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 12px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;

    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -moz-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -ms-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -o-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;

    margin: 5px 20px 24px 20px;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
#ha-login input[type=button]:hover, 
#ha-login input[type=submit]:hover, 
#ha-login input[type=reset]:hover {
    background-color: #39ace7;
}
#ha-login input[type=button]:active, 
#ha-login input[type=submit]:active, 
#ha-login input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
#ha-login input[type=text], 
#ha-login input[type=password], 
#ha-login input[type=email] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
#ha-login input[type=text]:focus, 
#ha-login input[type=password]:focus, 
#ha-login input[type=email]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}
#ha-login input[type=text]::placeholder, 
#ha-login input[type=password]::placeholder, 
#ha-login input[type=email]::placeholder {
    color: #cccccc;
}

/* ANIMATIONS */
.fade-in-down {
    -webkit-animation-name: fade-in-down;
    animation-name: fade-in-down;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
    @-webkit-keyframes fade-in-down {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fade-in-down {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
   
.fade-in {
    opacity: 0;
    -webkit-animation: fade-in ease-in 1;
    -moz-animation: fade-in ease-in 1;
    animation: fade-in ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
} 
    @-webkit-keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-moz-keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fade-in {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

.fade-in.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.fade-in.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
.fade-in.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.fade-in.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

.underline-hover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}
.underline-hover:hover {
    color: #0d0d0d;
}
.underline-hover:hover:after {
    width: 100%;
}

*:focus {
    outline: none;
}
* {
    box-sizing: border-box;
}
#icon {
    width: 60%;
}