@font-face {
    font-family: "Quicksand-Regular";
    src: url("./Assets/Fonts/Quicksand-Regular.ttf");
}

@font-face {
    font-family: "Quicksand-Medium";
    src: url("./Assets/Fonts/Quicksand-Medium.ttf");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("./Assets/Fonts/Quicksand-Bold.ttf");
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("./Assets/Fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("./Assets/Fonts/Raleway-Medium.ttf");
}

@font-face {
    font-family: "Raleway-Bold";
    src: url("./Assets/Fonts/Raleway-Bold.ttf");
}

*:focus {
    outline: none;
}